:host {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    --ur-color-background: var(--mdui-color-background);
    --ur-color-on-background: var(--mdui-color-on-background);
    --ur-color-on-surface: var(--mdui-color-on-surface);
    --ur-color-on-secondary: var(--mdui-color-on-secondary);
    --ur-color-on-surface-variant: var(--mdui-color-on-surface-variant);
    --ur-state-layers-outline-variant-opacity-16: var(--mdui-state-layers-outline-variant-opacity-16);
    --ur-color-outline: var(--mdui-color-outline);
    --ur-state-layers-primary-opacity-08: var(--mdui-state-layers-primary-opacity-08);
    z-index: 0;
    background: var(--ur-color-background);
}

:host .urnovl-logo {
    width: 70px;
    height: 19px;
    margin: auto 8;
    fill: rgb(var(--ur-color-on-background));
}

:host .logo-hld {
    display: flex;
    padding: 0 32px;
    height: 48px;
    margin: 5px 0 0 0;
    align-items: center;
    justify-content: center;
}

:host mdui-top-app-bar {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

:host .main-actions-holder {
    flex: 1 1 auto;  /* don't grow, can shrink, auto basis */
    display: flex;
    align-items: center;
    flex-direction: row;
}

:host .flex-space {
    flex: 1 1 auto;  /* don't grow, don't shrink, auto basis */
}

:host mdui-top-app-bar[variant="small"] {
    height: 48px;
}

:host mdui-top-app-bar-title {
    font-size: 20px;
    color: var(--ur-color-on-background, #000);
}

:host .search-lnk {
    display: flex;
    height: 40px;
    align-items: center;
    border-radius: 50px;
    padding: 0 24px 0 8px;
    background: #EFEEF0;
    cursor: text;
    flex: 1 1 auto;
    /* Only grow as much as needed for content */
    max-width: max-content;
    overflow: hidden;
    -webkit-user-select: none;
    /* Prevent text selection in WebKit browsers */
    -moz-user-select: none;
    /* Prevent text selection in Firefox */
    -ms-user-select: none;
    /* Prevent text selection in older IE/Edge */
    user-select: none;
    /* Prevent text selection in modern browsers */
}

:host .search-lnk:hover {
    transition: all 0.2s ease;
    /* Smooth transition for shadow and color */
    background: rgba(var(--ur-color-outline), .2);
}

:host-context(html.ur-theme-dark) .search-lnk {
    /*fix this */
    background: #1A1C21;
}

:host-context(html.ur-theme-dark) .search-lnk:hover {
    /*fix this */
    transition: all 0.2s ease;
    /* Smooth transition for shadow and color */
    background: rgba(var(--ur-color-outline), .2);
}

:host .icon {
    width: 40px;
    margin-right: 8px;
    /* Space between icon and text */
    text-align: center;
    /* Align icon with text */
}

:host .search-txt {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
