:host {
    border-radius: 50%;
    --ur-color-on-background: var(--mdui-color-on-background);
    --ur-color-background: var(--mdui-color-background);
    --ur-color-surface: var(--mdui-color-surface);
    --ur-color-on-surface: var(--mdui-color-on-surface);

    button,
    mdui-button-icon {
        height: 34px;
        width: 34px;
        border-radius: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        cursor: pointer;
        background-color: rgb(var(--ur-color-surface));
        color: rgb(var(--ur-color-on-surface));
    }

    mdui-button-icon svg {
        height: 21px;
    }

    mdui-button-icon[disabled] {
        display: none;
    }

    mdui-button-icon[disabled] svg {
        display: none;
    }
}