:host {
    --ur-color-primary: var(--mdui-color-primary);
    --ur-color-on-surface: var(--mdui-color-on-surface);
    --ur-color-outline: var(--mdui-color-outline);
    --ur-color-surface: var(--mdui-color-surface);
    --ur-color-on-background: var(--mdui-color-on-background);
    --ur-color-background: var(--mdui-color-background);
}

:host mdui-button {
    border-radius: 8px;
    border: 1px solid rgb(var(--ur-color-outline));
    height: 34px;
    background: rgb(var(--ur-color-background));
}

/*
:host mdui-button.with-count {
    border: 1px solid rgb(var(--ur-color-primary));
}*/


:host mdui-button.selected {
    border: 1px solid rgb(var(--ur-color-primary));
}

:host mdui-button .label {
    font-size: 14px;
    margin-right: 8px;
    line-height: 22px;
    color: rgb(var(--ur-color-on-background));
}

:host mdui-button.selected .label {
    color: rgb(var(--ur-color-primary));
}

:host mdui-button.selected svg path {
    stroke: rgb(var(--ur-color-primary));
}

:host mdui-button .count {
    margin-right: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

    width: 22px;
    height: 22px;

    background: rgb(var(--ur-color-primary));

    color: rgb(var(--ur-color-surface));
    line-height: 22px;

    font-size: 9px;
}

:host mdui-button svg {
    margin-top: 2px;
}

:host mdui-button svg path {
    stroke: rgb(var(--ur-color-on-surface));
}
