:host {
    --swiper-slide-width: 100%;
}

:host {
    display: block;
    box-sizing: border-box;
    position: relative;
}

:host .carousel {
    position: relative;
}

:host .carousel swiper-slide {
    position: relative;
}

:host .carousel .numnum {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 32px;
    background: red;
    border-radius: 50%;
    width:  50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

:host swiper-slide {
    width: var(--swiper-slide-width);
}

:host ur-button-arrow-left,
:host ur-button-arrow-right {
    position: absolute;
    top: calc(50% - 34px);
    left: -17px;
    z-index: 2;
}

:host ur-button-arrow-right {
    left: auto;
    right: -17px;
}

@media (min-width: 0px) {
    :host swiper-slide {
        width: calc(90% / 2);
    }
}

@media (min-width: 321px) {
    :host swiper-slide {
        width: calc(90% / 2);
    }
}

@media (min-width: 640px) {
    :host swiper-slide {
        width: calc(90% / 3);
    }
}

@media (min-width: 1150px) {
    :host swiper-slide {
        width: calc(90% / 4);
    }
}

@media (min-width: 1770px) {
    :host swiper-slide {
        width: calc(90% / 5);
    }
}

@media (min-width: 2140px) {
    :host swiper-slide {
        width: calc(90% / 6);
    }
}




