:host {
    display: flex;
    flex-direction: column;
    width: 270px;
    box-sizing: content-box;
}

:host .cover {
    height: 120px;
    border-radius: 16px 16px 0px 0px;
    background-color: #131519;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}

:host .cover .ongoing {
    background-color: #ff3b01;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 11.44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

:host .cover .ongoing span {
    position: relative;
    left: -0.5px;
    top: -1px;
}

:host .cover .price {
    position: absolute;
    top: 10px;
    right: 11.44px;
    border-radius: 25px;
    background: rgba(43, 43, 39, 0.95);
    padding: 10px 24px;
    box-sizing: border-box;
    line-height: 12px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

:host .info {
    padding: 7px 11px;
    background: #F7F7F7;
    box-sizing: border-box;
}

:host .info .title {
    color: #171818;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 7px;
}

:host .info .stats {
    font-size: 11px;
    font-weight: 400;
    line-height: 12px;
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}

:host .info .stats b {
    font-weight: 700;
}

:host .info .stats .likes {
    display: flex;
}

:host .info .stats .likes .dot {
    margin: 0 5px;
}

:host .info .description {
    color: #171818;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 163.636% */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 7px;
}

:host .info .author {
    height: 32px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    color: #1D1B20;
    cursor: pointer;
}

:host .info .author .avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-size: cover;
}

:host .info .author .name {
    margin-left: 8px;
}
