:host {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 253px;
    box-sizing: content-box;
}

:host .cover {
    height: 120px;
    background: #ff3c00;
    border-radius: 16px 16px 0px 0px;
}

:host .info {
    height: 133px;
    padding: 8px 11px;
    background: #F7F7F7;
}

:host .info .title {
    color: #171818;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}
