:host {
    display: flex;
    align-items: center;
    width: 100%;
    --ur-color-on-background: var(--mdui-color-on-background);
    --ur-color-on-surface: var(--mdui-color-on-surface);
    --ur-color-on-surface-variant: var(--mdui-color-on-surface-variant);
    --ur-state-layers-outline-variant-opacity-16: var(--mdui-state-layers-outline-variant-opacity-16);
}

:host .urnovl-logo {
    width: 70px;
    height: 19px;
    margin: auto 8;
    fill: var(--ur-color-on-background, #000);
}

:host mdui-top-app-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 0 16px;
}

:host mdui-top-app-bar[variant="small"] {
    height: 48px;
}

:host mdui-top-app-bar-title {
    flex: 1;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -.26px;
    color: var(--ur-color-on-background, #000);

    /* Truncation styles */
    overflow: hidden; /* Hide any overflowed text */
    text-overflow: ellipsis; /* Show ellipsis (...) for truncated text */
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    max-width: 100%; /* Constrain the width to the parent container */
    display: block; /* Ensure it's treated as a block element for proper layout */
}

:host ur-button-icon {
    margin-right: initial;
}