:host {
    --ur-dialog-panel-border-radius: 0;
    --ur-color-background: var(--mdui-color-background);
    --ur-color-outline-variant: var(--mdui-color-outline-variant);
    --ur-color-background-container-highest: var(--mdui-color-surface-container-highest);
}

:host mdui-dialog::part(panel) {
    padding: 0;
    border-radius: var(--ur-dialog-panel-border-radius);
}

:host ::slotted([slot="header"]) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

:host ::slotted([slot="header"]) h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(var(--ur-color-on-surface));
}

:host ::part(panel) {
    background: rgb(var(--ur-color-background));
}

:host .dialog-header {
    position: relative;
    z-index: 1;
}

:host .dialog-header.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    background: transparent;
}