/* ur-navigation-drawer-global.css */
:host {
    display: block;
    position: relative;
}

:host ::slotted([slot='header']) {
    top: 0;
    left: 0;
    padding: 8px 12px;
    display: flex;
    font-weight: bold;
    position: sticky;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgb(var(--ur-color-surface));
    border-bottom: 1px solid rgb(var(--ur-color-outline));
    z-index: 1;
}

:host .drawer-content {
    overflow-y: auto;
    padding: 0 24px;
    min-height: 0;
    position: relative;
}

:host ::slotted([slot='footer']) {
    bottom: 0;
    position: sticky;
    padding: 8px 12px;
    background: rgb(var(--ur-color-surface));
    border-top: 1px solid rgb(var(--ur-color-outline));
    display: flex;
    gap: 8px;
    z-index: 1;
}